<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveFilesDTOMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveFilesDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="JQBH" jdbcType="VARCHAR" property="jqbh" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="THISORDER" jdbcType="DECIMAL" property="thisorder" />
    <result column="ARCHIVETRECORDID" jdbcType="DECIMAL" property="archivetrecordid" />
    <result column="ARCHIVETYPEID" jdbcType="DECIMAL" property="archivetypeid" />
    <result column="FILETYPE" jdbcType="DECIMAL" property="filetype" />
    <result column="FILEURL" jdbcType="VARCHAR" property="fileurl" />
    <result column="ORIGINURL" jdbcType="VARCHAR" property="originurl" />
    <result column="ISDOWLAND" jdbcType="DECIMAL" property="isdowland" />
    <result column="FILENAME" jdbcType="VARCHAR" property="filename" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, JQBH, AJBH, THISORDER, ARCHIVETRECORDID, 
    ARCHIVETYPEID, FILETYPE, FILEURL, ORIGINURL, ISDOWLAND, FILENAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_ARCHIVE_FILES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from FUN_ARCHIVE_FILES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.jzgl.DTO.FunArchiveFilesDTO">
    insert into FUN_ARCHIVE_FILES (ID, SCBJ, STATE, 
      CREATETIME, UPDATETIME, JQBH, 
      AJBH, THISORDER, ARCHIVETRECORDID, 
      ARCHIVETYPEID, FILETYPE, FILEURL, 
      ORIGINURL, ISDOWLAND, FILENAME
      )
    values (#{id,jdbcType=DECIMAL}, #{scbj,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{jqbh,jdbcType=VARCHAR}, 
      #{ajbh,jdbcType=VARCHAR}, #{thisorder,jdbcType=DECIMAL}, #{archivetrecordid,jdbcType=DECIMAL}, 
      #{archivetypeid,jdbcType=DECIMAL}, #{filetype,jdbcType=DECIMAL}, #{fileurl,jdbcType=VARCHAR}, 
      #{originurl,jdbcType=VARCHAR}, #{isdowland,jdbcType=DECIMAL}, #{filename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunArchiveFilesDTO">
    insert into FUN_ARCHIVE_FILES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="scbj != null">
        SCBJ,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="jqbh != null">
        JQBH,
      </if>
      <if test="ajbh != null">
        AJBH,
      </if>
      <if test="thisorder != null">
        THISORDER,
      </if>
      <if test="archivetrecordid != null">
        ARCHIVETRECORDID,
      </if>
      <if test="archivetypeid != null">
        ARCHIVETYPEID,
      </if>
      <if test="filetype != null">
        FILETYPE,
      </if>
      <if test="fileurl != null">
        FILEURL,
      </if>
      <if test="originurl != null">
        ORIGINURL,
      </if>
      <if test="isdowland != null">
        ISDOWLAND,
      </if>
      <if test="filename != null">
        FILENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="scbj != null">
        #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="jqbh != null">
        #{jqbh,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="thisorder != null">
        #{thisorder,jdbcType=DECIMAL},
      </if>
      <if test="archivetrecordid != null">
        #{archivetrecordid,jdbcType=DECIMAL},
      </if>
      <if test="archivetypeid != null">
        #{archivetypeid,jdbcType=DECIMAL},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=DECIMAL},
      </if>
      <if test="fileurl != null">
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="originurl != null">
        #{originurl,jdbcType=VARCHAR},
      </if>
      <if test="isdowland != null">
        #{isdowland,jdbcType=DECIMAL},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveFilesDTO">
    update FUN_ARCHIVE_FILES
    <set>
      <if test="scbj != null">
        SCBJ = #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="jqbh != null">
        JQBH = #{jqbh,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        AJBH = #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="thisorder != null">
        THISORDER = #{thisorder,jdbcType=DECIMAL},
      </if>
      <if test="archivetrecordid != null">
        ARCHIVETRECORDID = #{archivetrecordid,jdbcType=DECIMAL},
      </if>
      <if test="archivetypeid != null">
        ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
      </if>
      <if test="filetype != null">
        FILETYPE = #{filetype,jdbcType=DECIMAL},
      </if>
      <if test="fileurl != null">
        FILEURL = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="originurl != null">
        ORIGINURL = #{originurl,jdbcType=VARCHAR},
      </if>
      <if test="isdowland != null">
        ISDOWLAND = #{isdowland,jdbcType=DECIMAL},
      </if>
      <if test="filename != null">
        FILENAME = #{filename,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.jzgl.DTO.FunArchiveFilesDTO">
    update FUN_ARCHIVE_FILES
    set SCBJ = #{scbj,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      JQBH = #{jqbh,jdbcType=VARCHAR},
      AJBH = #{ajbh,jdbcType=VARCHAR},
      THISORDER = #{thisorder,jdbcType=DECIMAL},
      ARCHIVETRECORDID = #{archivetrecordid,jdbcType=DECIMAL},
      ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
      FILETYPE = #{filetype,jdbcType=DECIMAL},
      FILEURL = #{fileurl,jdbcType=VARCHAR},
      ORIGINURL = #{originurl,jdbcType=VARCHAR},
      ISDOWLAND = #{isdowland,jdbcType=DECIMAL},
      FILENAME = #{filename,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>