<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.SysLogsSendDTOMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.SysLogsSendDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="PUSHTIMES" jdbcType="DECIMAL" property="pushtimes" />
    <result column="RESULT" jdbcType="DECIMAL" property="result" />
    <result column="OSURL" jdbcType="VARCHAR" property="osurl" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="JQBH" jdbcType="VARCHAR" property="jqbh" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, AUTHOR, PUSHTIMES, RESULT, OSURL, AJBH, 
    JQBH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_LOGS_SEND
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_LOGS_SEND
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.jzgl.DTO.SysLogsSendDTO">
    insert into SYS_LOGS_SEND (ID, SCBJ, STATE, 
      CREATETIME, UPDATETIME, AUTHOR, 
      PUSHTIMES, RESULT, OSURL, 
      AJBH, JQBH)
    values (#{id,jdbcType=DECIMAL}, #{scbj,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{author,jdbcType=VARCHAR}, 
      #{pushtimes,jdbcType=DECIMAL}, #{result,jdbcType=DECIMAL}, #{osurl,jdbcType=VARCHAR}, 
      #{ajbh,jdbcType=VARCHAR}, #{jqbh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.SysLogsSendDTO">
    insert into SYS_LOGS_SEND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="scbj != null">
        SCBJ,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="pushtimes != null">
        PUSHTIMES,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="osurl != null">
        OSURL,
      </if>
      <if test="ajbh != null">
        AJBH,
      </if>
      <if test="jqbh != null">
        JQBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="scbj != null">
        #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="pushtimes != null">
        #{pushtimes,jdbcType=DECIMAL},
      </if>
      <if test="result != null">
        #{result,jdbcType=DECIMAL},
      </if>
      <if test="osurl != null">
        #{osurl,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="jqbh != null">
        #{jqbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.SysLogsSendDTO">
    update SYS_LOGS_SEND
    <set>
      <if test="scbj != null">
        SCBJ = #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="pushtimes != null">
        PUSHTIMES = #{pushtimes,jdbcType=DECIMAL},
      </if>
      <if test="result != null">
        RESULT = #{result,jdbcType=DECIMAL},
      </if>
      <if test="osurl != null">
        OSURL = #{osurl,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        AJBH = #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="jqbh != null">
        JQBH = #{jqbh,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.jzgl.DTO.SysLogsSendDTO">
    update SYS_LOGS_SEND
    set SCBJ = #{scbj,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      AUTHOR = #{author,jdbcType=VARCHAR},
      PUSHTIMES = #{pushtimes,jdbcType=DECIMAL},
      RESULT = #{result,jdbcType=DECIMAL},
      OSURL = #{osurl,jdbcType=VARCHAR},
      AJBH = #{ajbh,jdbcType=VARCHAR},
      JQBH = #{jqbh,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>