<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.SysLogsMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.SysLogsDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="MPARAMS" jdbcType="VARCHAR" property="mparams" />
    <result column="REQUESTURL" jdbcType="VARCHAR" property="requesturl" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="MRESULT" jdbcType="VARCHAR" property="mresult" />
    <result column="OPERDESC" jdbcType="VARCHAR" property="operdesc" />
    <result column="OPERMODUL" jdbcType="VARCHAR" property="opermodul" />
    <result column="OPERTYPE" jdbcType="VARCHAR" property="opertype" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="SYSUSERID" jdbcType="DECIMAL" property="sysuserid" />
    <result column="SYSUSERNAME" jdbcType="VARCHAR" property="sysusername" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, MPARAMS, REQUESTURL, MNAME, MRESULT, OPERDESC, 
    OPERMODUL, OPERTYPE, IP, SYSUSERID, SYSUSERNAME,OPERATOR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from SYS_LOGS
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.SysLogsDTO">
    <selectKey resultType="INTEGER" order="BEFORE"
               keyProperty="id">
      select seq_SYS_LOGS_id.nextval from dual
    </selectKey>
    insert into SYS_LOGS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      CREATETIME,
      UPDATETIME,
      SCBJ,
      STATE,
      <if test="mparams != null">
        MPARAMS,
      </if>
      <if test="requesturl != null">
        REQUESTURL,
      </if>
      <if test="mname != null">
        MNAME,
      </if>
      <if test="mresult != null">
        MRESULT,
      </if>
      <if test="operdesc != null">
        OPERDESC,
      </if>
      <if test="opermodul != null">
        OPERMODUL,
      </if>
      <if test="opertype != null">
        OPERTYPE,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="sysuserid != null">
        SYSUSERID,
      </if>
      <if test="sysusername != null">
        SYSUSERNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=DECIMAL},
      sysdate,
      sysdate,
      0,
      0,
      <if test="mparams != null">
        #{mparams,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null">
        #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mresult != null">
        #{mresult,jdbcType=VARCHAR},
      </if>
      <if test="operdesc != null">
        #{operdesc,jdbcType=VARCHAR},
      </if>
      <if test="opermodul != null">
        #{opermodul,jdbcType=VARCHAR},
      </if>
      <if test="opertype != null">
        #{opertype,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="sysuserid != null">
        #{sysuserid,jdbcType=DECIMAL},
      </if>
      <if test="sysusername != null">
        #{sysusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>