 *{ padding: 0; margin: 0;box-sizing: border-box;-moz-user-select:none;/*火狐*/-webkit-user-select:none;/*webkit浏览器*/-ms-user-select:none;/*IE10*/-khtml-user-select:none;/*早期浏览器*/user-select:none;}
body{ width: 100%; height: 100%; font-family: "微软雅黑"; font-size: 14px; text-align: center; background: url(../images/bg.jpg) no-repeat center top; background-size:100% auto}
li{list-style:none;}
a{ color: #696969;text-decoration: none;outline: none;transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;-moz-transition: .2s ease-in-out }
dt{ font-weight:normal;}
a:hover{text-decoration: none; color: initial;}
a:focus {  outline:none;  }  
*:hover{transition: .2s ease-in-out;-webkit-transition: .2s ease-in-out;-moz-transition: .2s ease-in-out}
::-webkit-scrollbar {width: 9px;height: 9px;}
::-webkit-scrollbar-thumb {border-radius: 6px;background: #a8aaaf;}
::-webkit-scrollbar-thumb:hover {background: #b5b5b5;}
::-webkit-input-placeholder{ color: #b5b2b1;}    
:-moz-placeholder{color: #b5b2b1;}                  
::-moz-placeholder{color: #b5b2b1;}                 
:-ms-input-placeholder{color: #b5b2b1;}
.left{ float: left;}
.right{ float: right;}


/*******************/
.index-main{position:absolute; height: 100%; width: 100%;}
.index-left{ position: absolute;left:0px; top:0px; width: 400px; background: #1e67f6; height: 100%; z-index: 66;}
.logo{position: relative; display: inline-block; color: #fff; font-size: 24px; padding: 15px; font-weight: bold;}

.nav_at{ position: relative; width: 100%; margin-top: 10px; height: calc(100% - 135px); text-align: left; overflow-y: auto; overflow-x: hidden;}
.jz h1{ color: #1e67f6; font-size: 15px; margin: 0px; padding: 0px 10px 0px 20px; height: 45px; line-height: 45px; cursor: pointer; float: right; position:relative;width: 100%; }
.jz i{ display: inline-block; vertical-align: middle; width: 30px; height: 30px;}
h1.active{background-color: #FFF; color: #1e67f6; border-radius: 20px 0px 0px 0px;}
i.left_ico_right{position: absolute; right:10px; top:18px; width: 0; height: 0;border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #1e67f6;}
h1.active i.left_ico_right{transform:rotate(0deg);-ms-transform:rotate(0deg); /* Internet Explorer */-moz-transform:rotate(0deg); /* Firefox */-webkit-transform:rotate(0deg); /* Safari 和 Chrome */-o-transform:rotate(0deg); /* Opera */}
.jz .ws{ float:right; position:relative;width: 100%;background: #0c4bc8; }

.ws dd,.ws dt{cursor: pointer; float: left; color: #fff; width: 100%; height: 40px; line-height: 40px; font-size: 15px;padding-right: 10px;}
.ws dd b,.ws dt b{ font-size: 40px;line-height: 20px; display: inline-block; margin-right: 8px;}
.ws dt{ padding-left: 30px; }
.ws dd{ padding-left: 50px;}
.ws dd.active{ color: #fff;}
.ws dd:hover{color: #1e67f6; background: #edf0f7;}
.ws dt.active,.ws dt:hover{color: #1e67f6; background: #edf0f7;}
.ws dt i.left_ico_right{transform:rotate(90deg);-ms-transform:rotate(90deg); /* Internet Explorer */-moz-transform:rotate(90deg); /* Firefox */-webkit-transform:rotate(90deg); /* Safari 和 Chrome */-o-transform:rotate(90deg); /* Opera */border-top: 5px solid #fff;}
.ws dt:hover i.left_ico_right{border-top: 5px solid #1e67f6;}
.ws dt.active i.left_ico_right{transform:rotate(0deg);-ms-transform:rotate(0deg); /* Internet Explorer */-moz-transform:rotate(0deg); /* Firefox */-webkit-transform:rotate(0deg); /* Safari 和 Chrome */-o-transform:rotate(0deg); /* Opera */border-top: 5px solid #1e67f6;}
.restore_at{ display: inline-block; float: right; background:rgba(0,0,0,0.1); color:rgba(0,0,0,0.6);  border-radius: 3px; padding: 0px 10px; font-size: 12px; margin-left: 10px; margin-top: 8px; line-height: 20px;}


.bottom_a{ position:fixed;bottom:0px; width: 300px; left:0px; text-align: center;}
.bottom_a a{ display: inline-block; width:200px; margin: 10px auto; font-weight: bold; background: #fff; border-radius: 45px; height: 45px; line-height: 45px; font-size: 16px; color: #1e67f6;}

.index-center{ position: relative; width: calc(100% - 700px); margin-left: 400px; height: 100%; padding: 15px; overflow-y: auto; overflow-x: hidden;}
.index-center h2{ width: 100%; text-align: left;}

.index-right{ position: absolute; right:0px; top:0px; width: 300px; height: 100%; background: #f4f5f9;}
.index-right h2{ color: #3e5266; font-size: 18px; padding: 15px 0px;}
.right-w{position: relative; margin: 0px auto; width: 280px; padding: 10px 15px; border-radius: 20px; height: calc(100% - 75px); text-align: left; overflow-y: auto; overflow-x: hidden; background: #fff;}
.right-w .ws{border-top:1px solid #edf0f6;}
.right-w .ws dt{ background: #fff; border-bottom:1px solid #edf0f6; color: #455673;}
.right-w .ws dt.active{color: #1e67f6; background: #edf0f7;}










