<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.EtlTablelogDTOMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.EtlTablelogDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="SYSTEMNAME" jdbcType="VARCHAR" property="systemname" />
    <result column="TABLENAME" jdbcType="VARCHAR" property="tablename" />
    <result column="LASTPKNAME" jdbcType="VARCHAR" property="lastpkname" />
    <result column="LASTPKNUMVALUE" jdbcType="DECIMAL" property="lastpknumvalue" />
    <result column="LASTPKSTRVALUE" jdbcType="VARCHAR" property="lastpkstrvalue" />
    <result column="LASTPKDATEVALUE" jdbcType="TIMESTAMP" property="lastpkdatevalue" />
    <result column="ETLTYPE" jdbcType="DECIMAL" property="etltype" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, SYSTEMNAME, TABLENAME, LASTPKNAME, LASTPKNUMVALUE, 
    LASTPKSTRVALUE, LASTPKDATEVALUE, ETLTYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ETL_TABLELOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ETL_TABLELOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bean.jzgl.DTO.EtlTablelogDTO">
    insert into ETL_TABLELOG (ID, SCBJ, STATE, 
      CREATETIME, UPDATETIME, SYSTEMNAME, 
      TABLENAME, LASTPKNAME, LASTPKNUMVALUE, 
      LASTPKSTRVALUE, LASTPKDATEVALUE, ETLTYPE
      )
    values (#{id,jdbcType=DECIMAL}, #{scbj,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{systemname,jdbcType=VARCHAR}, 
      #{tablename,jdbcType=VARCHAR}, #{lastpkname,jdbcType=VARCHAR}, #{lastpknumvalue,jdbcType=DECIMAL}, 
      #{lastpkstrvalue,jdbcType=VARCHAR}, #{lastpkdatevalue,jdbcType=TIMESTAMP}, #{etltype,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.EtlTablelogDTO">
    insert into ETL_TABLELOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="scbj != null">
        SCBJ,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="systemname != null">
        SYSTEMNAME,
      </if>
      <if test="tablename != null">
        TABLENAME,
      </if>
      <if test="lastpkname != null">
        LASTPKNAME,
      </if>
      <if test="lastpknumvalue != null">
        LASTPKNUMVALUE,
      </if>
      <if test="lastpkstrvalue != null">
        LASTPKSTRVALUE,
      </if>
      <if test="lastpkdatevalue != null">
        LASTPKDATEVALUE,
      </if>
      <if test="etltype != null">
        ETLTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="scbj != null">
        #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemname != null">
        #{systemname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="lastpkname != null">
        #{lastpkname,jdbcType=VARCHAR},
      </if>
      <if test="lastpknumvalue != null">
        #{lastpknumvalue,jdbcType=DECIMAL},
      </if>
      <if test="lastpkstrvalue != null">
        #{lastpkstrvalue,jdbcType=VARCHAR},
      </if>
      <if test="lastpkdatevalue != null">
        #{lastpkdatevalue,jdbcType=TIMESTAMP},
      </if>
      <if test="etltype != null">
        #{etltype,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.EtlTablelogDTO">
    update ETL_TABLELOG
    <set>
      <if test="scbj != null">
        SCBJ = #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemname != null">
        SYSTEMNAME = #{systemname,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null">
        TABLENAME = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="lastpkname != null">
        LASTPKNAME = #{lastpkname,jdbcType=VARCHAR},
      </if>
      <if test="lastpknumvalue != null">
        LASTPKNUMVALUE = #{lastpknumvalue,jdbcType=DECIMAL},
      </if>
      <if test="lastpkstrvalue != null">
        LASTPKSTRVALUE = #{lastpkstrvalue,jdbcType=VARCHAR},
      </if>
      <if test="lastpkdatevalue != null">
        LASTPKDATEVALUE = #{lastpkdatevalue,jdbcType=TIMESTAMP},
      </if>
      <if test="etltype != null">
        ETLTYPE = #{etltype,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.jzgl.DTO.EtlTablelogDTO">
    update ETL_TABLELOG
    set SCBJ = #{scbj,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      SYSTEMNAME = #{systemname,jdbcType=VARCHAR},
      TABLENAME = #{tablename,jdbcType=VARCHAR},
      LASTPKNAME = #{lastpkname,jdbcType=VARCHAR},
      LASTPKNUMVALUE = #{lastpknumvalue,jdbcType=DECIMAL},
      LASTPKSTRVALUE = #{lastpkstrvalue,jdbcType=VARCHAR},
      LASTPKDATEVALUE = #{lastpkdatevalue,jdbcType=TIMESTAMP},
      ETLTYPE = #{etltype,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectLastValue" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    from ETL_TABLELOG
    where SCBJ=0
    AND  TABLENAME=#{tablename,jdbcType=VARCHAR}
    AND LASTPKNAME = #{lastpkname,jdbcType=VARCHAR}

  </select>
</mapper>