<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveRecordsDTOMapper">
    <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="SCBJ" jdbcType="DECIMAL" property="scbj"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="JQBH" jdbcType="VARCHAR" property="jqbh"/>
        <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
        <result column="THISORDER" jdbcType="DECIMAL" property="thisorder"/>
        <result column="RECORDNAME" jdbcType="VARCHAR" property="recordname"/>
        <result column="ARCHIVETYPEID" jdbcType="DECIMAL" property="archivetypeid"/>
        <result column="ARCHIVESEQID" jdbcType="DECIMAL" property="archiveseqid"/>
        <result column="ARCHIVECODE" jdbcType="VARCHAR" property="archivecode"/>
        <result column="RECORDSTYLE" jdbcType="VARCHAR" property="recordstyle"/>
        <result column="RECORDSCODE" jdbcType="VARCHAR" property="recordscode"/>
        <result column="ISDELETE" jdbcType="DECIMAL" property="isdelete"/>
        <result column="ISAZXT" jdbcType="DECIMAL" property="isazxt"/>
        <result column="ARCHIVESFCID" jdbcType="DECIMAL" property="archivesfcid"/>
        <result column="AUTHOR" jdbcType="VARCHAR" property="author"/>
        <result column="AUTHORID" jdbcType="DECIMAL" property="authorid"/>
        <result column="JCYRECORDCODE" jdbcType="VARCHAR" property="jcyrecordcode"/>
        <result column="PREVID" jdbcType="DECIMAL" property="previd"/>
        <result column="RECORDWH" jdbcType="VARCHAR" property="recordwh"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, JQBH, AJBH,ARCHIVESEQID,
     THISORDER, RECORDNAME, ARCHIVETYPEID,ARCHIVECODE,RECORDSTYLE,RECORDSCODE
    ,ISDELETE,ISAZXT,ARCHIVESFCID,AUTHOR,AUTHORID,JCYRECORDCODE,PREVID,RECORDWH
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectNextRecord"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0 AND PREVID=#{id,jdbcType=DECIMAL}
    </select>
    <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        <selectKey resultType="INTEGER" order="BEFORE"
                   keyProperty="id">
            select seq_FUN_ARCHIVE_RECORDS_id.nextval from dual
        </selectKey>
        insert into FUN_ARCHIVE_RECORDS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            SCBJ,
            STATE,
            CREATETIME,
            UPDATETIME,
            ARCHIVECODE,
            JQBH,
            ARCHIVETYPEID,
            ARCHIVESEQID,
            RECORDSCODE,
            ISAZXT,
            ARCHIVESFCID,
            AUTHOR,
            AUTHORID,
            AJBH,
            THISORDER,
            RECORDNAME,
            ISDELETE,
            JCYRECORDCODE,
            PREVID,
            <if test="recordstyle != null">
                RECORDSTYLE,
            </if>
            <if test="recordwh != null">
                RECORDWH,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=DECIMAL},
            0,
            0,
            sysdate,
            sysdate,
            #{archivecode,jdbcType=VARCHAR},
            #{jqbh,jdbcType=VARCHAR},
            #{archivetypeid,jdbcType=DECIMAL},
            #{archiveseqid,jdbcType=DECIMAL},
            #{recordscode,jdbcType=VARCHAR},
            #{isazxt,jdbcType=DECIMAL},
            #{archivesfcid,jdbcType=DECIMAL},
            #{author,jdbcType=VARCHAR},
            #{authorid,jdbcType=DECIMAL},
            #{ajbh,jdbcType=VARCHAR},
            #{thisorder,jdbcType=DECIMAL},
            #{recordname,jdbcType=VARCHAR},
            #{isdelete,jdbcType=DECIMAL},
            #{jcyrecordcode,jdbcType=VARCHAR},
            #{previd,jdbcType=DECIMAL},
            <if test="recordstyle != null">
                #{recordstyle,jdbcType=VARCHAR},
            </if>
            <if test="recordwh != null">
                #{recordwh,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        update FUN_ARCHIVE_RECORDS
        <set>
            UPDATETIME = SYSDATE,
            <if test="scbj != null">
                SCBJ = #{scbj,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            <if test="jqbh != null">
                JQBH = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                AJBH = #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="thisorder != null">
                THISORDER = #{thisorder,jdbcType=DECIMAL},
            </if>
            <if test="recordname != null">
                RECORDNAME = #{recordname,jdbcType=VARCHAR},
            </if>
            <if test="archivetypeid != null">
                ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
            </if>
            <if test="isdelete != null">
                ISDELETE = #{isdelete,jdbcType=DECIMAL},
            </if>
            <if test="recordwh != null">
                RECORDWH = #{recordwh,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <select id="selectRecordsByJqbhPage" parameterType="map" resultMap="BaseResultMap">
        select * from ( SELECT A.*, ROWNUM RUM FROM (
        select
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS where 1=1 and scbj=0
        AND JQBH = #{jqbh,jdbcType=VARCHAR}
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archiveseqid != null">
            AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        </if>
        order by id desc
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectRecordsByJqbhCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(0) FROM FUN_ARCHIVE_RECORDS where 1=1 and scbj=0
        AND JQBH = #{jqbh,jdbcType=VARCHAR}
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archiveseqid != null">
            AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        </if>
    </select>

    <select id="selectRecordsByJqbh" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0 AND
        JQBH = #{jqbh,jdbcType=VARCHAR}
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archivetypeid != null">
            AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
    </select>

    <select id="selectRecordsByTypeid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0
        <if test="archivetypeid != null">
            AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        <if test="isdelete != null">
            <if test="isdelete == 0">
                AND ISDELETE &lt;= 1
            </if>
            <if test="isdelete != 0">
                AND ISDELETE &gt;= 1
            </if>
        </if>
        ORDER BY THISORDER ASC
    </select>

    <select id="updateRecordOrderByTypeId" parameterType="java.lang.Integer">
        UPDATE fun_archive_records
        SET thisorder=thisorder+1,
        UPDATETIME = SYSDATE
        WHERE SCBJ=0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND thisorder &gt;=  #{thisorder,jdbcType=DECIMAL}
        AND ID &lt;&gt; #{id,jdbcType=DECIMAL}
        AND thisorder &lt; 10000
    </select>

    <select id="selectRecordMaxOrder" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT NVL(MAX(THISORDER),0) FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND ARCHIVETYPEID = (SELECT ARCHIVETYPEID FROM FUN_ARCHIVE_RECORDS WHERE  ID = #{id,jdbcType=DECIMAL})
        AND ISDELETE &lt; 2
        AND THISORDER &lt; 9999
    </select>

    <select id="selectArchiveRecordPage" resultType="map" parameterType="map">
        select * from ( SELECT A.*, ROWNUM RUM FROM (
        select
        <include refid="Base_Column_List"/>
        ,(SELECT ARCHIVETYPECN FROM Fun_Archive_Type WHERE ID = r.archivetypeid )
        from FUN_ARCHIVE_RECORDS r
        where 1=1 and scbj=0
        <if test="null != archivetypeid">
            and r.ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        and r.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        <if test="null != recordname and recordname!=''">
            AND r.RECORDNAME LIKE '%'||#{recordname,jdbcType=VARCHAR}||'%'
        </if>
        order by id desc
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectArchiveRecordPageCount" resultType="java.lang.Integer" parameterType="map">
        select count(0)
        FROM FUN_ARCHIVE_RECORDS r
        where 1=1 and scbj=0
        <if test="null != archivetypeid">
        and r.ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        and r.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        <if test="null != recordname and recordname!=''">
            AND r.RECORDNAME LIKE '%'||#{recordname,jdbcType=VARCHAR}||'%'
        </if>
    </select>
</mapper>