<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveRecordsDTOMapper">
    <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="SCBJ" jdbcType="DECIMAL" property="scbj"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="JQBH" jdbcType="VARCHAR" property="jqbh"/>
        <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
        <result column="THISORDER" jdbcType="DECIMAL" property="thisorder"/>
        <result column="RECORDNAME" jdbcType="VARCHAR" property="recordname"/>
        <result column="ARCHIVETYPEID" jdbcType="DECIMAL" property="archivetypeid"/>
        <result column="ARCHIVESEQID" jdbcType="DECIMAL" property="archiveseqid"/>
        <result column="ARCHIVECODE" jdbcType="VARCHAR" property="archivecode"/>
        <result column="RECORDSTYLE" jdbcType="VARCHAR" property="recordstyle"/>
        <result column="RECORDSCODE" jdbcType="VARCHAR" property="recordscode"/>
        <result column="ISDELETE" jdbcType="DECIMAL" property="isdelete"/>
        <result column="ISAZXT" jdbcType="DECIMAL" property="isazxt"/>
        <result column="ARCHIVESFCID" jdbcType="DECIMAL" property="archivesfcid"/>
        <result column="AUTHOR" jdbcType="VARCHAR" property="author"/>
        <result column="AUTHORID" jdbcType="DECIMAL" property="authorid"/>
        <result column="JCYRECORDCODE" jdbcType="VARCHAR" property="jcyrecordcode"/>
        <result column="PREVID" jdbcType="DECIMAL" property="previd"/>
        <result column="RECORDWH" jdbcType="VARCHAR" property="recordwh"/>
        <result column="EFFECTIVETIME" jdbcType="TIMESTAMP" property="effectivetime"/>
        <result column="BASERECORDID" jdbcType="DECIMAL" property="baserecordid"/>
        <result column="RECORDUUID" jdbcType="VARCHAR" property="recorduuid"/>
        <result column="WJBM" jdbcType="VARCHAR" property="wjbm"/>
        <result column="WJBID" jdbcType="DECIMAL" property="wjbid"/>
        <result column="AUTHORIDCARD" jdbcType="VARCHAR" property="authoridcard"/>
        <result column="ISCOVERIMG" jdbcType="DECIMAL" property="iscoverimg"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, JQBH, AJBH,ARCHIVESEQID,
     THISORDER, RECORDNAME, ARCHIVETYPEID,ARCHIVECODE,RECORDSTYLE,RECORDSCODE
    ,ISDELETE,ISAZXT,ARCHIVESFCID,AUTHOR,AUTHORID,JCYRECORDCODE,PREVID,RECORDWH,
    EFFECTIVETIME,BASERECORDID,RECORDUUID,WJBID,WJBM,AUTHORIDCARD,ISCOVERIMG
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectNextRecord" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0 AND PREVID=#{id,jdbcType=DECIMAL}
    </select>
    <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        <selectKey resultType="INTEGER" order="BEFORE"
                   keyProperty="id">
            select seq_FUN_ARCHIVE_RECORDS_id.nextval from dual
        </selectKey>
        insert into FUN_ARCHIVE_RECORDS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            SCBJ,
            STATE,
            CREATETIME,
            UPDATETIME,
            ARCHIVECODE,
            JQBH,
            ARCHIVETYPEID,
            ARCHIVESEQID,
            RECORDSCODE,
            ISAZXT,
            ARCHIVESFCID,
            AUTHOR,
            AUTHORID,
            AJBH,
            THISORDER,
            RECORDNAME,
            ISDELETE,
            JCYRECORDCODE,
            PREVID,
            BASERECORDID,
            EFFECTIVETIME,
            RECORDUUID,
            WJBM,
            WJBID,
            AUTHORIDCARD,
            <if test="iscoverimg != null">
                ISCOVERIMG,
            </if>
            <if test="recordstyle != null">
                RECORDSTYLE,
            </if>
            <if test="recordwh != null">
                RECORDWH,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=DECIMAL},
            0,
            0,
            sysdate,
            sysdate,
            #{archivecode,jdbcType=VARCHAR},
            #{jqbh,jdbcType=VARCHAR},
            #{archivetypeid,jdbcType=DECIMAL},
            #{archiveseqid,jdbcType=DECIMAL},
            #{recordscode,jdbcType=VARCHAR},
            #{isazxt,jdbcType=DECIMAL},
            #{archivesfcid,jdbcType=DECIMAL},
            #{author,jdbcType=VARCHAR},
            #{authorid,jdbcType=DECIMAL},
            #{ajbh,jdbcType=VARCHAR},
            #{thisorder,jdbcType=DECIMAL},
            #{recordname,jdbcType=VARCHAR},
            #{isdelete,jdbcType=DECIMAL},
            #{jcyrecordcode,jdbcType=VARCHAR},
            #{previd,jdbcType=DECIMAL},
            #{baserecordid,jdbcType=DECIMAL},
            #{effectivetime,jdbcType=TIMESTAMP},
            #{recorduuid,jdbcType=VARCHAR},
            #{wjbm,jdbcType=VARCHAR},
            #{wjbid,jdbcType=DECIMAL},
            #{authoridcard,jdbcType=VARCHAR},

            <if test="iscoverimg != null">
                #{iscoverimg,jdbcType=DECIMAL},
            </if>
            <if test="recordstyle != null">
                #{recordstyle,jdbcType=VARCHAR},
            </if>
            <if test="recordwh != null">
                #{recordwh,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        update FUN_ARCHIVE_RECORDS
        <set>
            UPDATETIME = SYSDATE,
            <if test="jqbh != null">
                JQBH = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                AJBH = #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="thisorder != null">
                THISORDER = #{thisorder,jdbcType=DECIMAL},
            </if>
            <if test="recordname != null">
                RECORDNAME = #{recordname,jdbcType=VARCHAR},
            </if>
            <if test="archivetypeid != null">
                ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
            </if>
            <if test="archiveseqid != null">
                ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL},
            </if>
            <if test="archivecode != null">
                ARCHIVECODE = #{archivecode,jdbcType=VARCHAR},
            </if>
            <if test="recordstyle != null">
                RECORDSTYLE = #{recordstyle,jdbcType=DECIMAL},
            </if>
            <if test="recordscode != null">
                RECORDSCODE = #{recordscode,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                ISDELETE = #{isdelete,jdbcType=DECIMAL},
            </if>
            <if test="archivesfcid != null">
                ARCHIVESFCID = #{archivesfcid,jdbcType=DECIMAL},
            </if>
            <if test="isazxt != null">
                ISAZXT = #{isazxt,jdbcType=DECIMAL},
            </if>
            <if test="authorid != null">
                AUTHORID = #{authorid,jdbcType=DECIMAL},
            </if>
            <if test="author != null">
                AUTHOR = #{author,jdbcType=VARCHAR},
            </if>
            <if test="previd != null">
                PREVID = #{previd,jdbcType=DECIMAL},
            </if>
            <if test="jcyrecordcode != null">
                JCYRECORDCODE = #{jcyrecordcode,jdbcType=VARCHAR},
            </if>
            <if test="recordwh != null">
                RECORDWH = #{recordwh,jdbcType=VARCHAR},
            </if>
            <if test="effectivetime != null">
                EFFECTIVETIME = #{effectivetime,jdbcType=TIMESTAMP},
            </if>
            <if test="baserecordid != null">
                BASERECORDID = #{baserecordid,jdbcType=DECIMAL},
            </if>
            <if test="recorduuid != null">
                RECORDUUID = #{recorduuid,jdbcType=VARCHAR},
            </if>
            <if test="authoridcard != null">
                AUTHORIDCARD = #{authoridcard,jdbcType=VARCHAR},
            </if>
            <if test="iscoverimg != null">
                ISCOVERIMG = #{iscoverimg,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <select id="selectRecordsByJqbhPage" parameterType="map" resultMap="BaseResultMap">
        select * from ( SELECT A.*, ROWNUM RUM FROM (
        select
        <include refid="Base_Column_List"/>

        FROM FUN_ARCHIVE_RECORDS RECORDS WHERE 1=1 AND SCBJ=0
        AND ISDELETE &lt;&gt; 2
        AND NOT EXISTS (SELECT 1 FROM FUN_ARCHIVE_SFC SFC WHERE SFC.SCBJ=0 AND SFC.BASERECORDID=RECORDS.ID)
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archiveseqid != null">
            AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        </if>

        <if test="wjbm != null">
            AND WJBM = UPPER(#{wjbm,jdbcType=VARCHAR})
        </if>
        <if test="wjbid != null">
            AND WJBID = #{wjbid,jdbcType=DECIMAL}
        </if>


        order by id desc
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectRecordsByJqbhCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(0) FROM FUN_ARCHIVE_RECORDS RECORDS
        where 1=1 and scbj=0 AND ISDELETE &lt;&gt; 2
        AND NOT EXISTS
        (SELECT 1 FROM FUN_ARCHIVE_SFC SFC WHERE
        SFC.SCBJ=0
        AND SFC.BASERECORDID=RECORDS.ID)
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archiveseqid != null">
            AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        </if>
        <if test="wjbm != null">
            AND WJBM = UPPER(#{wjbm,jdbcType=VARCHAR})
        </if>
        <if test="wjbid != null">
            AND WJBID = #{wjbid,jdbcType=DECIMAL}
        </if>
    </select>

    <select id="selectRecordsByJqbh" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0 AND
        JQBH = #{jqbh,jdbcType=VARCHAR}
        <if test="recordscode != null">
            AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        </if>
        <if test="archivetypeid != null">
            AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
    </select>

    <select id="selectRecordsByTypeid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0
        <if test="archivetypeid != null">
            AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        <if test="isdelete != null">
            <if test="isdelete == 0">
                AND ISDELETE &lt;= 1
            </if>
            <if test="isdelete != 0">
                AND ISDELETE &gt;= 1
            </if>
        </if>
        <if test="notRecordstyle != null">
            AND recordstyle &lt;&gt; #{notRecordstyle,jdbcType=DECIMAL}
        </if>
        ORDER BY THISORDER ASC
    </select>

    <select id="selectRecordsBySuspects" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS records
        WHERE SCBJ=0 and ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND EXISTS (SELECT 1 FROM FUN_SUSPECT_RECORD sr WHERE SCBJ=0
        and records.id=sr.recordid
        AND suspectid IN
        <foreach collection="suspectid" item="item" separator=","
                 open="(" close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        )
        ORDER BY THISORDER ASC
    </select>


    <select id="updateRecordOrderByTypeId" parameterType="java.lang.Integer">
        UPDATE fun_archive_records
        SET thisorder=thisorder+1,
        UPDATETIME = SYSDATE
        WHERE SCBJ=0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND thisorder &gt;=  #{thisorder,jdbcType=DECIMAL}
        AND ID &lt;&gt; #{id,jdbcType=DECIMAL}
        AND thisorder &lt; 10000
    </select>

    <select id="selectRecordMaxOrder" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT NVL(MAX(THISORDER),0) FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND ARCHIVETYPEID = (SELECT ARCHIVETYPEID FROM FUN_ARCHIVE_RECORDS WHERE  ID = #{id,jdbcType=DECIMAL})
        AND ISDELETE &lt; 2
        AND THISORDER &lt; 9999
    </select>

    <select id="selectRsMaxOrderByTypeid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT NVL(MAX(THISORDER),0) FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        and RECORDSTYLE=1
        AND ISDELETE &lt; 2
    </select>
    <select id="selectMaxOrderByTypeid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT NVL(MAX(THISORDER),0) FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        and RECORDSTYLE=1
        AND RECORDSTYLE  &lt;&gt; 0
        AND ISDELETE &lt; 2
    </select>
    <select id="selectLastRsByTypeid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
      select * from ( SELECT <include refid="Base_Column_List"/>
         FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND RECORDSTYLE=1
        AND ISDELETE &lt; 2
        order by THISORDER desc
        ) where rownum=1
    </select>
    <select id="selectArchiveRecordPage" resultType="map" parameterType="map">
        select * from ( SELECT A.*, ROWNUM RUM FROM (
        select
        <include refid="Base_Column_List"/>
        ,(SELECT RECORDTYPECN FROM Fun_Archive_Type WHERE ID = r.archivetypeid ) typename
        from FUN_ARCHIVE_RECORDS r
        where 1=1 and scbj=0
        <if test="null != archivetypeid">
            and r.ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        and r.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        <if test="null != recordname and recordname!=''">
            AND r.RECORDNAME LIKE '%'||#{recordname,jdbcType=VARCHAR}||'%'
        </if>
        AND RECORDSTYLE &lt;&gt; 0
        order by thisorder asc
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectArchiveRecordPageCount" resultType="java.lang.Integer" parameterType="map">
        select count(0)
        FROM FUN_ARCHIVE_RECORDS r
        where 1=1 and scbj=0
        <if test="null != archivetypeid">
            and r.ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        </if>
        and r.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        AND RECORDSTYLE &lt;&gt; 0
        <if test="null != recordname and recordname!=''">
            AND r.RECORDNAME LIKE '%'||#{recordname,jdbcType=VARCHAR}||'%'
        </if>
    </select>

    <select id="selectRecordsBySuspectAType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
 SELECT A.*
  FROM (SELECT AR.*
          FROM FUN_ARCHIVE_RECORDS AR
         WHERE AR.SCBJ = 0
           AND AR.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}

           AND EXISTS (SELECT 1
                  FROM FUN_SUSPECT_RECORD SR
                 WHERE SCBJ = 0
                   AND SUSPECTID = #{suspectid,jdbcType=DECIMAL}
                   AND AR.ID = SR.RECORDID)) A
  LEFT JOIN (SELECT *
               FROM SYS_RECORDORDER
              WHERE SCBJ = 0
                AND RECORDSTYLE = 1
                AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}) R
    ON A.RECORDSCODE = R.RECORDCODE
    WHERE R.RECORDTYPE = #{recordtype,jdbcType=DECIMAL}
    ORDER BY r.defaultorder ASC
    </select>

    <select id="selectReocrdBySeqRcode" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0
        AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        AND archivetypeid =
        (SELECT ID FROM fun_archive_type
        WHERE SCBJ=0
        AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        AND recordtype= #{recordtype,jdbcType=DECIMAL} )
        ORDER BY EFFECTIVETIME ASC
    </select>

    <select id="selectRecordByOriRecord" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_RECORDS
        where SCBJ=0
        AND RECORDSCODE = #{recordscode,jdbcType=VARCHAR}
        AND archivetypeid =
        (SELECT ID FROM fun_archive_type
        WHERE SCBJ=0
        AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        )
        ORDER BY EFFECTIVETIME ASC
    </select>

    <select id="selectRecordOrderForSuspect" parameterType="map" resultMap="BaseResultMap">
    SELECT RECORDS.*
  FROM FUN_ARCHIVE_RECORDS RECORDS, SYS_RECORDORDER RECORDORDER
 WHERE RECORDORDER.SCBJ = 0
   AND RECORDS.SCBJ = 0
   AND RECORDS.ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
   AND RECORDS.RECORDSCODE = RECORDORDER.RECORDCODE
   AND RECORDORDER.RECORDTYPE = #{recordtype,jdbcType=DECIMAL}
   AND RECORDORDER.ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
   AND EXISTS (SELECT 1
          FROM FUN_SUSPECT_RECORD SUSPECT
         WHERE SCBJ = 0
           AND SUSPECT.RECORDID = RECORDS.ID
           AND SUSPECT.SUSPECTID = #{suspectid,jdbcType=DECIMAL})
 ORDER BY RECORDORDER.DEFAULTORDER ASC
    </select>

    <select id="selectPriveRecord" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS R
        WHERE SCBJ = 0
        AND EXISTS (SELECT 1 FROM fun_archive_type TYPE WHERE TYPE.ID=r.archivetypeid AND
        type.Recordtype=#{recordtype,jdbcType=DECIMAL})
        <if test="null == suspectid">
            AND EXISTS (SELECT 1
            FROM SYS_RECORDORDER S
            WHERE R.RECORDSCODE = S.RECORDCODE
            AND S.SCBJ=0
            AND RECORDTYPE = #{recordtype,jdbcType=DECIMAL}
            AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
            AND S.DEFAULTORDER &lt; #{defaultorder,jdbcType=DECIMAL}
            )
        </if>
        <if test="null != suspectid">
            and EXISTS
            (SELECT 1 FROM fun_suspect_record s
            WHERE suspectid=#{suspectid,jdbcType=DECIMAL}
            AND r.id=s.recordid)
        </if>
        AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        ORDER BY R.THISORDER DESC)
        WHERE ROWNUM = 1
    </select>

    <update id="updateOrderAdd" parameterType="java.lang.Integer">
        update FUN_ARCHIVE_RECORDS
        set THISORDER=THISORDER+1 where
        scbj=0
        AND  ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND THISORDER &gt;= #{thisorder,jdbcType=DECIMAL}
        AND RECORDSTYLE &lt;&gt; 0
    </update>

    <select id="selectRecordbyName" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ = 0
        AND RECORDNAME LIKE '%'||#{recordname,jdbcType=DECIMAL}||'%'
        AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
    </select>

    <select id="selectRecordByUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ = 0
        AND RECORDUUID= #{recorduuid,jdbcType=VARCHAR}
        AND ISACTIVE = 0
    </select>

    <select id="selectRecordByUuidSeq" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ=0
        AND RECORDUUID = #{recorduuid,jdbcType=VARCHAR}
        AND ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
        AND ROWNUM=1
    </select>

    <select id="selectSameRecordById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS
        WHERE SCBJ = 0
        AND RECORDUUID =
        (SELECT RECORDUUID FROM FUN_ARCHIVE_RECORDS WHERE ID = #{id,jdbcType=DECIMAL} )
        AND ISACTIVE = 0
    </select>


    <update id="updateRecordByUuid" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO">
        update FUN_ARCHIVE_RECORDS
        <set>
            UPDATETIME = SYSDATE,
            <if test="jqbh != null">
                JQBH = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                AJBH = #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="thisorder != null">
                THISORDER = #{thisorder,jdbcType=DECIMAL},
            </if>
            <if test="recordname != null">
                RECORDNAME = #{recordname,jdbcType=VARCHAR},
            </if>
            <if test="archivetypeid != null">
                ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
            </if>
            <if test="archiveseqid != null">
                ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL},
            </if>
            <if test="archivecode != null">
                ARCHIVECODE = #{archivecode,jdbcType=VARCHAR},
            </if>
            <if test="recordstyle != null">
                RECORDSTYLE = #{recordstyle,jdbcType=DECIMAL},
            </if>
            <if test="recordscode != null">
                RECORDSCODE = #{recordscode,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                ISDELETE = #{isdelete,jdbcType=DECIMAL},
            </if>
            <if test="archivesfcid != null">
                ARCHIVESFCID = #{archivesfcid,jdbcType=DECIMAL},
            </if>
            <if test="isazxt != null">
                ISAZXT = #{isazxt,jdbcType=DECIMAL},
            </if>
            <if test="authorid != null">
                AUTHORID = #{authorid,jdbcType=DECIMAL},
            </if>
            <if test="author != null">
                AUTHOR = #{author,jdbcType=VARCHAR},
            </if>
            <if test="previd != null">
                PREVID = #{previd,jdbcType=DECIMAL},
            </if>
            <if test="jcyrecordcode != null">
                JCYRECORDCODE = #{jcyrecordcode,jdbcType=VARCHAR},
            </if>
            <if test="recordwh != null">
                RECORDWH = #{recordwh,jdbcType=VARCHAR},
            </if>
            <if test="effectivetime != null">
                EFFECTIVETIME = #{effectivetime,jdbcType=TIMESTAMP},
            </if>
            <if test="baserecordid != null">
                BASERECORDID = #{baserecordid,jdbcType=DECIMAL},
            </if>
            <if test="recorduuid != null">
                RECORDUUID = #{recorduuid,jdbcType=VARCHAR},
            </if>
            <if test="authoridcard != null">
                AUTHORIDCARD = #{authoridcard,jdbcType=VARCHAR},
            </if>
            <if test="iscoverimg != null">
                ISCOVERIMG = #{iscoverimg,jdbcType=DECIMAL},
            </if>
        </set>
        where RECORDUUID = #{recorduuid,jdbcType=DECIMAL}

    </update>

    <select id="selectActiveRecordByFilecode" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fun_archive_records r WHERE r.scbj=0
        AND EXISTS
        (SELECT 1 FROM FUN_ARCHIVE_FILES f
        WHERE f.scbj=0 AND filecode = #{filecode,jdbcType=VARCHAR}
        AND r.id=f.archiverecordid)
        AND EXISTS
        (SELECT 1 FROM FUN_ARCHIVE_SEQ seq
        WHERE seq.scbj=0 AND seq.isactive=0
        AND seq.id=r.archiveseqid)
    </select>

    <select id="selectRecordsNotSuspectByType" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FUN_ARCHIVE_RECORDS rec
        WHERE SCBJ = 0
        AND ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL}
        AND NOT EXISTS (SELECT 1 FROM fun_suspect_record sr
        WHERE sr.scbj=0 AND rec.id=sr.recordid
        AND sr.suspectid IN
        <foreach collection="notsuspectids" item="item" separator=","
                 open="(" close=")">
            #{item,jdbcType=DECIMAL}
        </foreach>)
    </select>


    <select id="selectRecordsBySeqType" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fun_archive_records re
        WHERE scbj=0 AND recordstyle >0
        AND EXISTS
        (SELECT 1 FROM fun_archive_type ty
        WHERE scbj=0
        AND archiveseqid IN
        <foreach collection="seqids" item="item" separator=","
                 open="(" close=")">
            #{item,jdbcType=DECIMAL}
        </foreach>
        AND re.archivetypeid=ty.id
        AND recordtype = #{recordtype,jdbcType=VARCHAR})
        ORDER BY re.thisorder
    </select>

    <select id="selectNoWhRecords" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fun_archive_records ar
        WHERE scbj=0 and recordwh IS NULL
        AND EXISTS
        (SELECT 1 FROM sys_recordmessage rm
        WHERE rm.z IS NOT NULL AND rm.recordcode=ar.recordscode)
    </select>

    <update id="updateRecordWhByWjMessage" parameterType="map">
        update fun_archive_records
        set RECORDWH= #{recordwh,jdbcType=VARCHAR},updatetime=sysdate
        where scbj=0
        and wjbm= #{wjbm,jdbcType=VARCHAR}
        and wjbid=#{wjbid,jdbcType=DECIMAL}
    </update>

    <select id="selectRecordsByWjMessageNotSend" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fun_archive_records ar
        WHERE scbj=0 and wjbm= #{wjbm,jdbcType=VARCHAR}
        and wjbid=#{wjbid,jdbcType=DECIMAL}
        and exists (select 1 from fun_archive_sfc sfc where sfc.id=ar.archivesfcid
        and sfc.issend=0)
    </select>

    <select id="selectRecordsByWjMessage" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from fun_archive_records
        WHERE SCBJ=0 and WJBM= #{wjbm,jdbcType=VARCHAR}
        AND WJBID=#{wjbid,jdbcType=DECIMAL}
        AND ARCHIVESEQID=#{archiveseqid,jdbcType=DECIMAL}
        and rownum=1
    </select>


    <update id="deleteRecordsByWjMessageNotSend" parameterType="com.bean.jzgl.DTO.FunArchiveRecordsDTO" >
     update fun_archive_records ar
     set UPDATETIME = SYSDATE
    ,ISDELETE = 2
     where wjbm= #{wjbm,jdbcType=VARCHAR}
        and wjbid=#{wjbid,jdbcType=DECIMAL}
        and exists (select 1 from fun_archive_sfc sfc where  sfc.id=f.archivesfcid
        and sfc.issend=0)

    </update>

    <select id="selectFunArchiveRecordsByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List"/>
        FROM fun_archive_records ar
        WHERE scbj=0
        AND RECORDUUID= #{recorduuid,jdbcType=VARCHAR}
        AND ISDELETE= 0
        AND EXISTS (SELECT 1 FROM FUN_ARCHIVE_SEQ seq WHERE seq.id=ar.archiveseqid AND seq.isfinal=0)
    </select>


    <update id="updateWrongOrderBySeq" parameterType="java.lang.Integer" >
       UPDATE  FUN_ARCHIVE_RECORDS SET THISORDER=1 WHERE SCBJ=0 AND THISORDER
         &lt;0 AND RECORDSCODE NOT LIKE 'ZL%'
         AND  ARCHIVESEQID=#{archiveseqid,jdbcType=DECIMAL}
    </update>

    <select id="selectRecordNameByRecordIds" parameterType="int[]" resultType="java.lang.String">
        SELECT RECORDNAME  FROM FUN_ARCHIVE_RECORDS WHERE SCBJ=0
<!--          AND RECORDSCODE NOT LIKE 'ZL%' -->
         AND RECORDSCODE NOT LIKE 'ZL%'
         AND  ID IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
        #{item,jdbcType=DECIMAL}
    </foreach>
    </select>

    <update id="updateRecordsIscoverimg" parameterType="java.lang.Integer">
        update FUN_ARCHIVE_RECORDS set ISCOVERIMG=#{iscoverimg,jdbcType=DECIMAL},UPDATETIME=SYSDATE
        where ID = #{id,jdbcType=DECIMAL}
    </update>
</mapper>