<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveTagsDTOMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveTagsDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="AUTHORID" jdbcType="DECIMAL" property="authorid" />
    <result column="AUTHORXM" jdbcType="VARCHAR" property="authorxm" />
    <result column="ARCHIVESFCID" jdbcType="DECIMAL" property="archivesfcid" />
    <result column="ARCHIVESEQID" jdbcType="DECIMAL" property="archiveseqid" />
    <result column="ARCHIVETYPEID" jdbcType="DECIMAL" property="archivetypeid" />
    <result column="ARCHIVEFILEID" jdbcType="DECIMAL" property="archivefileid" />
    <result column="RECORDID" jdbcType="DECIMAL" property="recordid" />
    <result column="FILECODE" jdbcType="VARCHAR" property="filecode" />
    <result column="TAGINFO" jdbcType="VARCHAR" property="taginfo" />
    <result column="TAGCOLOUR" jdbcType="VARCHAR" property="tagcolour" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, AUTHOR, AUTHORID, AUTHORXM, ARCHIVESFCID, 
    ARCHIVESEQID, ARCHIVETYPEID, ARCHIVEFILEID,FILECODE, RECORDID, TAGINFO, TAGCOLOUR
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_ARCHIVE_TAGS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="insert" parameterType="com.bean.jzgl.DTO.FunArchiveTagsDTO">
    <selectKey resultType="INTEGER" order="BEFORE"
               keyProperty="id">
      select SEQ_FUN_ARCHIVE_TAGS_ID.nextval from dual
    </selectKey>
    insert into FUN_ARCHIVE_TAGS (ID, SCBJ, STATE, 
      CREATETIME, UPDATETIME, AUTHOR, 
      AUTHORID, AUTHORXM, ARCHIVESFCID, 
      ARCHIVESEQID, ARCHIVETYPEID, ARCHIVEFILEID, 
      FILECODE, TAGINFO, TAGCOLOUR,RECORDID)
    values (#{id,jdbcType=DECIMAL}, 0, 0,
      SYSDATE, SYSDATE, #{author,jdbcType=VARCHAR},
      #{authorid,jdbcType=DECIMAL}, #{authorxm,jdbcType=VARCHAR}, #{archivesfcid,jdbcType=DECIMAL}, 
      #{archiveseqid,jdbcType=DECIMAL}, #{archivetypeid,jdbcType=DECIMAL}, #{archivefileid,jdbcType=DECIMAL}, 
      #{filecode,jdbcType=VARCHAR}, #{taginfo,jdbcType=VARCHAR}, #{tagcolour,jdbcType=VARCHAR}
      ,#{recordid,jdbcType=DECIMAL}
   )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveTagsDTO">
    update FUN_ARCHIVE_TAGS
    <set>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
        UPDATETIME = SYSDATE,
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null">
        AUTHORID = #{authorid,jdbcType=DECIMAL},
      </if>
      <if test="authorxm != null">
        AUTHORXM = #{authorxm,jdbcType=VARCHAR},
      </if>
      <if test="archivesfcid != null">
        ARCHIVESFCID = #{archivesfcid,jdbcType=DECIMAL},
      </if>
      <if test="archiveseqid != null">
        ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL},
      </if>
      <if test="archivetypeid != null">
        ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
      </if>
      <if test="archivefileid != null">
        ARCHIVEFILEID = #{archivefileid,jdbcType=DECIMAL},
      </if>
      <if test="filecode != null">
        FILECODE = #{filecode,jdbcType=VARCHAR},
      </if>
      <if test="taginfo != null">
        TAGINFO = #{taginfo,jdbcType=VARCHAR},
      </if>
      <if test="tagcolour != null">
        TAGCOLOUR = #{tagcolour,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

<select id="selectArchiveTagsById" parameterType="map" resultMap="BaseResultMap">
  select  <include refid="Base_Column_List" />
  from FUN_ARCHIVE_TAGS
  where SCBJ=0
  AND  ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL}
  AND  FILECODE = #{filecode,jdbcType=VARCHAR}
  ORDER BY ID DESC
</select>

  <update id="delTagById" parameterType="java.lang.Integer">
    UPDATE FUN_ARCHIVE_TAGS set SCBJ=1 where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectRecordByRecordId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    from FUN_ARCHIVE_TAGS
    where SCBJ=0 AND recordid =#{recordid,jdbcType=DECIMAL}
  </select>
</mapper>