<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveCoverDTOMapper">
    <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveCoverDTO">
        <id column="ID" jdbcType="DECIMAL" property="id" />
        <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
        <result column="STATE" jdbcType="DECIMAL" property="state" />
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
        <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
        <result column="AUTHORID" jdbcType="DECIMAL" property="authorid" />
        <result column="AUTHORXM" jdbcType="VARCHAR" property="authorxm" />
        <result column="JQBH" jdbcType="VARCHAR" property="jqbh" />
        <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
        <result column="ARCHIVESFCID" jdbcType="DECIMAL" property="archivesfcid" />
        <result column="ARCHIVESEQID" jdbcType="DECIMAL" property="archiveseqid" />
        <result column="ARCHIVETYPEID" jdbcType="DECIMAL" property="archivetypeid" />
        <result column="ARCHIVEFILEID" jdbcType="DECIMAL" property="archivefileid" />
        <result column="FILECODE" jdbcType="VARCHAR" property="filecode" />
        <result column="QZNAME" jdbcType="VARCHAR" property="qzname" />
        <result column="SFCNAME" jdbcType="VARCHAR" property="sfcname" />
        <result column="ARCHIVENAME" jdbcType="VARCHAR" property="archivename" />
        <result column="CASENAME" jdbcType="VARCHAR" property="casename" />
        <result column="SUSPECTSID" jdbcType="VARCHAR" property="suspectsid" />
        <result column="SUSPECTSXM" jdbcType="VARCHAR" property="suspectsxm" />
        <result column="BADWDWDM" jdbcType="VARCHAR" property="badwdwdm" />
        <result column="BADWDWMC" jdbcType="VARCHAR" property="badwdwmc" />
        <result column="LARQ" jdbcType="TIMESTAMP" property="larq" />
        <result column="JARQ" jdbcType="TIMESTAMP" property="jarq" />
        <result column="REVIEW" jdbcType="VARCHAR" property="review" />
        <result column="REVIEWID" jdbcType="DECIMAL" property="reviewid" />
        <result column="REVIEWXM" jdbcType="VARCHAR" property="reviewxm" />
        <result column="ARCHIVECOUNT" jdbcType="VARCHAR" property="archivecount" />
        <result column="RECORDCOUNT" jdbcType="DECIMAL" property="recordcount" />
        <result column="PAGECOUNT" jdbcType="DECIMAL" property="pagecount" />
        <result column="AUTHORCORPORATION" jdbcType="VARCHAR" property="authorcorporation" />
        <result column="AUTHORCORPORATIONCODE" jdbcType="VARCHAR" property="authorcorporationcode" />
    </resultMap>
    <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, AUTHOR, AUTHORID, AUTHORXM, JQBH, AJBH,
    ARCHIVESFCID, ARCHIVESEQID, ARCHIVETYPEID, ARCHIVEFILEID, FILECODE, QZNAME, SFCNAME,
    ARCHIVENAME, CASENAME, SUSPECTSID, SUSPECTSXM, BADWDWDM, BADWDWMC, LARQ, JARQ, REVIEW,
    REVIEWID, REVIEWXM, ARCHIVECOUNT, RECORDCOUNT, PAGECOUNT,AUTHORCORPORATION,AUTHORCORPORATIONCODE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FUN_ARCHIVE_COVER
        where ID = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunArchiveCoverDTO">
        <selectKey resultType="INTEGER" order="BEFORE"
                   keyProperty="id">
            select SEQ_FUN_ARCHIVE_COVER_ID.nextval from dual
        </selectKey>
        insert into FUN_ARCHIVE_COVER
        <trim prefix="(" suffix=")" suffixOverrides=",">
                ID,
                SCBJ,
                STATE,
                CREATETIME,
                UPDATETIME,
                AUTHOR,
                AUTHORID,
                AUTHORXM,
                JQBH,
                AJBH,
                ARCHIVESFCID,
                ARCHIVESEQID,
                ARCHIVETYPEID,
                ARCHIVEFILEID,
                FILECODE,
                QZNAME,
                SFCNAME,
                ARCHIVENAME,
                CASENAME,
            AUTHORCORPORATION,
            AUTHORCORPORATIONCODE,
            <if test="suspectsid != null">
                SUSPECTSID,
            </if>
            <if test="suspectsxm != null">
                SUSPECTSXM,
            </if>
            <if test="badwdwdm != null">
                BADWDWDM,
            </if>
            <if test="badwdwmc != null">
                BADWDWMC,
            </if>
            <if test="larq != null">
                LARQ,
            </if>
            <if test="jarq != null">
                JARQ,
            </if>
            <if test="review != null">
                REVIEW,
            </if>
            <if test="reviewid != null">
                REVIEWID,
            </if>
            <if test="reviewxm != null">
                REVIEWXM,
            </if>
            <if test="archivecount != null">
                ARCHIVECOUNT,
            </if>
            <if test="recordcount != null">
                RECORDCOUNT,
            </if>
            <if test="pagecount != null">
                PAGECOUNT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{id,jdbcType=DECIMAL},
                0,
                0,
                sysdate,
                sysdate,
                #{author,jdbcType=VARCHAR},
                #{authorid,jdbcType=DECIMAL},
                #{authorxm,jdbcType=VARCHAR},
                #{jqbh,jdbcType=VARCHAR},
                #{ajbh,jdbcType=VARCHAR},
                #{archivesfcid,jdbcType=DECIMAL},
                #{archiveseqid,jdbcType=DECIMAL},
                #{archivetypeid,jdbcType=DECIMAL},
                #{archivefileid,jdbcType=DECIMAL},
                #{filecode,jdbcType=VARCHAR},
                #{qzname,jdbcType=VARCHAR},
                #{sfcname,jdbcType=VARCHAR},
                #{archivename,jdbcType=VARCHAR},
                #{casename,jdbcType=VARCHAR},
            #{authorcorporation,jdbcType=VARCHAR},
            #{authorcorporationcode,jdbcType=VARCHAR},
            <if test="suspectsid != null">
                #{suspectsid,jdbcType=VARCHAR},
            </if>
            <if test="suspectsxm != null">
                #{suspectsxm,jdbcType=VARCHAR},
            </if>
            <if test="badwdwdm != null">
                #{badwdwdm,jdbcType=VARCHAR},
            </if>
            <if test="badwdwmc != null">
                #{badwdwmc,jdbcType=VARCHAR},
            </if>
            <if test="larq != null">
                #{larq,jdbcType=TIMESTAMP},
            </if>
            <if test="jarq != null">
                #{jarq,jdbcType=TIMESTAMP},
            </if>
            <if test="review != null">
                #{review,jdbcType=VARCHAR},
            </if>
            <if test="reviewid != null">
                #{reviewid,jdbcType=DECIMAL},
            </if>
            <if test="reviewxm != null">
                #{reviewxm,jdbcType=VARCHAR},
            </if>
            <if test="archivecount != null">
                #{archivecount,jdbcType=VARCHAR},
            </if>
            <if test="recordcount != null">
                #{recordcount,jdbcType=DECIMAL},
            </if>
            <if test="pagecount != null">
                #{pagecount,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveCoverDTO">
        update FUN_ARCHIVE_COVER
        <set>
            <if test="scbj != null">
                SCBJ = #{scbj,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
                UPDATETIME = sysdate,
            <if test="authorcorporation != null">
                AUTHORCORPORATION = #{authorcorporation,jdbcType=VARCHAR},
            </if>
            <if test="authorcorporationcode != null">
                AUTHORCORPORATIONCODE = #{authorcorporationcode,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                AUTHOR = #{author,jdbcType=VARCHAR},
            </if>
            <if test="authorid != null">
                AUTHORID = #{authorid,jdbcType=DECIMAL},
            </if>
            <if test="authorxm != null">
                AUTHORXM = #{authorxm,jdbcType=VARCHAR},
            </if>
            <if test="jqbh != null">
                JQBH = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                AJBH = #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="archivesfcid != null">
                ARCHIVESFCID = #{archivesfcid,jdbcType=DECIMAL},
            </if>
            <if test="archiveseqid != null">
                ARCHIVESEQID = #{archiveseqid,jdbcType=DECIMAL},
            </if>
            <if test="archivetypeid != null">
                ARCHIVETYPEID = #{archivetypeid,jdbcType=DECIMAL},
            </if>
            <if test="archivefileid != null">
                ARCHIVEFILEID = #{archivefileid,jdbcType=DECIMAL},
            </if>
            <if test="filecode != null">
                FILECODE = #{filecode,jdbcType=VARCHAR},
            </if>
            <if test="qzname != null">
                QZNAME = #{qzname,jdbcType=VARCHAR},
            </if>
            <if test="sfcname != null">
                SFCNAME = #{sfcname,jdbcType=VARCHAR},
            </if>
            <if test="archivename != null">
                ARCHIVENAME = #{archivename,jdbcType=VARCHAR},
            </if>
            <if test="casename != null">
                CASENAME = #{casename,jdbcType=VARCHAR},
            </if>
            <if test="suspectsid != null">
                SUSPECTSID = #{suspectsid,jdbcType=VARCHAR},
            </if>
            <if test="suspectsxm != null">
                SUSPECTSXM = #{suspectsxm,jdbcType=VARCHAR},
            </if>
            <if test="badwdwdm != null">
                BADWDWDM = #{badwdwdm,jdbcType=VARCHAR},
            </if>
            <if test="badwdwmc != null">
                BADWDWMC = #{badwdwmc,jdbcType=VARCHAR},
            </if>
            <if test="larq != null">
                LARQ = #{larq,jdbcType=TIMESTAMP},
            </if>
            <if test="jarq != null">
                JARQ = #{jarq,jdbcType=TIMESTAMP},
            </if>
            <if test="review != null">
                REVIEW = #{review,jdbcType=VARCHAR},
            </if>
            <if test="reviewid != null">
                REVIEWID = #{reviewid,jdbcType=DECIMAL},
            </if>
            <if test="reviewxm != null">
                REVIEWXM = #{reviewxm,jdbcType=VARCHAR},
            </if>
            <if test="archivecount != null">
                ARCHIVECOUNT = #{archivecount,jdbcType=VARCHAR},
            </if>
            <if test="recordcount != null">
                RECORDCOUNT = #{recordcount,jdbcType=DECIMAL},
            </if>
            <if test="pagecount != null">
                PAGECOUNT = #{pagecount,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>

</mapper>