<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunArchiveSeqDTOMapper">
  <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunArchiveSeqDTO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="JQBH" jdbcType="VARCHAR" property="jqbh" />
    <result column="AJBH" jdbcType="VARCHAR" property="ajbh" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="AUTHORIDCARD" jdbcType="VARCHAR" property="authoridcard" />
    <result column="BATCHESSEQ" jdbcType="DECIMAL" property="batchesseq" />
    <result column="ISFINAL" jdbcType="DECIMAL" property="isfinal" />
    <result column="CASEINFOID" jdbcType="VARCHAR" property="caseinfoid" />
    <result column="SFCNUMBER" jdbcType="VARCHAR" property="sfcnumber" />
    <result column="ARCHIVETYPE" jdbcType="DECIMAL" property="archivetype" />
    <result column="ARCHIVENAME" jdbcType="VARCHAR" property="archivename" />
    <result column="ARCHIVESFCID" jdbcType="DECIMAL" property="archivesfcid" />
    <result column="AUTHORID" jdbcType="DECIMAL" property="authorid" />
    <result column="PREVID" jdbcType="DECIMAL" property="previd" />
    <result column="BASERECORDID" jdbcType="DECIMAL" property="baserecordid" />
    <result column="ISACTIVE" jdbcType="DECIMAL" property="isactive" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, JQBH, AJBH,  AUTHOR, AUTHORIDCARD,
    BATCHESSEQ, ISFINAL,CASEINFOID,SFCNUMBER,ARCHIVETYPE,ARCHIVENAME,ARCHIVESFCID,
    AUTHORID,PREVID,BASERECORDID,ISACTIVE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_ARCHIVE_SEQ
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunArchiveSeqDTO">
    <selectKey resultType="INTEGER" order="BEFORE"
               keyProperty="id">
      select seq_FUN_ARCHIVE_SEQ_id.nextval from dual
    </selectKey>
    insert into FUN_ARCHIVE_SEQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
        ID,
        SCBJ,
        STATE,
        CREATETIME,
        UPDATETIME,
        JQBH,
        AJBH,
        CASEINFOID,
        AUTHOR,
        AUTHORIDCARD,
      SFCNUMBER,
      ARCHIVETYPE,
      ARCHIVENAME,
      ARCHIVESFCID,
      AUTHORID,
      BASERECORDID,
      ISACTIVE,
      <if test="batchesseq != null">
        BATCHESSEQ,
      </if>
      <if test="isfinal != null">
        ISFINAL,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{id,jdbcType=DECIMAL},
       0,
        0,
        sysdate,
      sysdate,
        #{jqbh,jdbcType=VARCHAR},
        #{ajbh,jdbcType=VARCHAR},
        #{CASEINFOID,jdbcType=VARCHAR},
        #{author,jdbcType=VARCHAR},
        #{authoridcard,jdbcType=VARCHAR},
      #{sfcnumber,jdbcType=DECIMAL},
      #{archivetype,jdbcType=DECIMAL},
      #{archivename,jdbcType=VARCHAR},
      #{archivesfcid,jdbcType=DECIMAL},
      #{authorid,jdbcType=DECIMAL},
      #{baserecordid,jdbcType=DECIMAL},
      #{isactive,jdbcType=DECIMAL},
      <if test="batchesseq != null">
        #{batchesseq,jdbcType=DECIMAL},
      </if>
      <if test="isfinal != null">
        #{isfinal,jdbcType=DECIMAL},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunArchiveSeqDTO">
    update FUN_ARCHIVE_SEQ
    <set>
      <if test="scbj != null">
        SCBJ = #{scbj,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="jqbh != null">
        JQBH = #{jqbh,jdbcType=VARCHAR},
      </if>
      <if test="ajbh != null">
        AJBH = #{ajbh,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="authoridcard != null">
        AUTHORIDCARD = #{authoridcard,jdbcType=VARCHAR},
      </if>
      <if test="batchesseq != null">
        BATCHESSEQ = #{batchesseq,jdbcType=DECIMAL},
      </if>
      <if test="isfinal != null">
        ISFINAL = #{isfinal,jdbcType=DECIMAL},
      </if>
      <if test="isactive != null">
        ISACTIVE = #{isactive,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectArchiveSeqPage" resultMap="BaseResultMap" parameterType="map">
    select * from ( SELECT A.*, ROWNUM RUM FROM (
    select
    <include refid="Base_Column_List"/>
    from FUN_ARCHIVE_SEQ aseq where 1=1 and scbj=0
    and CASEINFOID = #{caseinfoid,jdbcType=DECIMAL}
    <if test="null != jqbh and jqbh!=''">
      AND JQBH LIKE '%'||#{jqbh,jdbcType=VARCHAR}||'%'
    </if>
    <if test="null != ajbh and ajbh!=''">
      AND AJBH LIKE '%'||#{ajbh,jdbcType=VARCHAR}||'%'
    </if>
    order by id desc
    ) A )
    WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
    AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
  </select>
  <select id="selectArchiveSeqPageCount" resultType="java.lang.Integer" parameterType="map">
    select count(0) from   FUN_ARCHIVE_SEQ where 1=1 and scbj=0
    AND CASEINFOID = #{caseinfoid,jdbcType=DECIMAL}
    <if test="null != jqbh and jqbh!=''">
      AND JQBH LIKE '%'||#{jqbh,jdbcType=VARCHAR}||'%'
    </if>
    <if test="null != ajbh and ajbh!=''">
      AND AJBH LIKE '%'||#{ajbh,jdbcType=VARCHAR}||'%'
    </if>
  </select>

  <select id="getLastSFCSeq" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select nvl(max(BATCHESSEQ),0) from FUN_ARCHIVE_SEQ where scbj=0 and CASEINFOID=#{caseinfoid,jdbcType=VARCHAR}
  </select>
  <select id="selectLastSeqBySfc"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> from  FUN_ARCHIVE_SEQ where scbj=0
     and  archivesfcid=#{archivesfcid,jdbcType=DECIMAL}
     and  rownum=1 order by id desc
  </select>

  <select id="selectBaseArchive"   resultMap="BaseResultMap"  parameterType="java.lang.Integer">
    SELECT <include refid="Base_Column_List" />
    from  FUN_ARCHIVE_SEQ where scbj=0
    AND  archivesfcid= ( SELECT ID
    FROM FUN_ARCHIVE_SFC WHERE SCBJ=0
    AND ARCHIVETYPE=0 AND PEOPLECASEID=#{peoplecaseid,jdbcType=DECIMAL} )
    AND PREVID=0
  </select>

  <select id="selectActiveSeqByCaseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM FUN_ARCHIVE_SEQ
    WHERE scbj=0
    AND archivetype=0
    AND caseinfoid=#{caseinfoid,jdbcType=VARCHAR}
    AND ISACTIVE = 1 AND ROWNUM=1
  </select>
</mapper>