<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.FunPeopelCaseDTOMapper">
    <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.FunPeopelCaseDTO">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="SCBJ" jdbcType="DECIMAL" property="scbj"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="IDCARD" jdbcType="VARCHAR" property="idcard"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="JQBH" jdbcType="VARCHAR" property="jqbh"/>
        <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
        <result column="PERSONTYPE" jdbcType="DECIMAL" property="persontype"/>
        <result column="CASENAME" jdbcType="VARCHAR" property="casename"/>
    </resultMap>

    <resultMap id="BaseResultForMap" type="java.util.Map">
        <id column="ID" jdbcType="INTEGER" javaType="INTEGER"  property="id"/>
        <result column="SCBJ" jdbcType="INTEGER" javaType="INTEGER" property="scbj"/>
        <result column="STATE" jdbcType="INTEGER" javaType="INTEGER" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="IDCARD" jdbcType="VARCHAR" property="idcard"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="JQBH" jdbcType="VARCHAR" property="jqbh"/>
        <result column="AJBH" jdbcType="VARCHAR" property="ajbh"/>
        <result column="PERSONTYPE" jdbcType="INTEGER" javaType="INTEGER" property="persontype"/>
        <result column="CASENAME" jdbcType="VARCHAR" property="casename"/>
        <result column="SUBMITCOUNT" jdbcType="VARCHAR" javaType="INTEGER" property="submitcount"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, IDCARD, NAME, JQBH, AJBH, PERSONTYPE,CASENAME
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
    select * from FUN_PEOPELCASE
  </select>

    <select id="selectPeopleCasePage" resultMap="BaseResultForMap" parameterType="map">
        select * from ( SELECT A.*, ROWNUM RUM FROM (
        select
        <include refid="Base_Column_List"/>,
        (select count(0) from fun_archive_seq aseq where pcase.jqbh=aseq.jqbh and scbj=0 ) submitcount
        from FUN_PEOPELCASE pcase where 1=1 and scbj=0
        <if test="null != jqbh and jqbh!=''">
            AND JQBH LIKE '%'||#{jqbh,jdbcType=VARCHAR}||'%'
        </if>
        <if test="null != ajbh and ajbh!=''">
            AND AJBH LIKE '%'||#{ajbh,jdbcType=VARCHAR}||'%'
        </if>
        order by id desc
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectPeopleCasePageCount" resultType="java.lang.Integer" parameterType="map">
        select count(0) from   FUN_PEOPELCASE where 1=1 and scbj=0
        <if test="null != jqbh and jqbh!=''">
            AND JQBH LIKE '%'||#{jqbh,jdbcType=VARCHAR}||'%'
        </if>
        <if test="null != ajbh and ajbh!=''">
            AND AJBH LIKE '%'||#{ajbh,jdbcType=VARCHAR}||'%'
        </if>
    </select>
    <select id="selecTest"  parameterType="java.lang.Integer" resultMap="BaseResultForMap">
        select
        <include refid="Base_Column_List"/>,
        (select count(0) from fun_archive_seq aseq where pcase.jqbh=aseq.jqbh and scbj=0 ) as tss
        from FUN_PEOPELCASE pcase
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from FUN_PEOPELCASE
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <insert id="insertSelective" parameterType="com.bean.jzgl.DTO.FunPeopelCaseDTO">
        <selectKey resultType="INTEGER" order="BEFORE"
                   keyProperty="id">
            select seq_FUN_PEOPELCASE_id.nextval from dual
        </selectKey>

        insert into FUN_PEOPELCASE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            SCBJ,
            STATE,
            CREATETIME,
            UPDATETIME,
            <if test="idcard != null">
                IDCARD,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="jqbh != null">
                JQBH,
            </if>
            <if test="ajbh != null">
                AJBH,
            </if>
            <if test="persontype != null">
                PERSONTYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=DECIMAL},0,0,
            sysdate,sysdate,
            <if test="idcard != null">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="jqbh != null">
                #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="persontype != null">
                #{persontype,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bean.jzgl.DTO.FunPeopelCaseDTO">
        update FUN_PEOPELCASE
        <set>
            <if test="scbj != null">
                SCBJ = #{scbj,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=DECIMAL},
            </if>
            <if test="createtime != null">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="idcard != null">
                IDCARD = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="jqbh != null">
                JQBH = #{jqbh,jdbcType=VARCHAR},
            </if>
            <if test="ajbh != null">
                AJBH = #{ajbh,jdbcType=VARCHAR},
            </if>
            <if test="persontype != null">
                PERSONTYPE = #{persontype,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
</mapper>