<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.jzgl.SysRecordorderDTOMapper">
    <resultMap id="BaseResultMap" type="com.bean.jzgl.DTO.SysRecordorderDTO">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="SCBJ" jdbcType="DECIMAL" property="scbj"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="RECORDNAME" jdbcType="VARCHAR" property="recordname"/>
        <result column="RECORDCODE" jdbcType="VARCHAR" property="recordcode"/>
        <result column="DEFAULTORDER" jdbcType="DECIMAL" property="defaultorder"/>
        <result column="RECORDTYPE" jdbcType="DECIMAL" property="recordtype"/>
        <result column="ARCHIVETYPE" jdbcType="DECIMAL" property="archivetype"/>
        <result column="RECORDSTYLE" jdbcType="DECIMAL" property="recordstyle"/>
        <result column="ISACCESSORY" jdbcType="DECIMAL" property="isaccessory"/>
        <result column="DEMAND" jdbcType="DECIMAL" property="demand"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, SCBJ, STATE, CREATETIME, UPDATETIME, RECORDNAME, RECORDCODE, DEFAULTORDER, RECORDTYPE, 
    ARCHIVETYPE,RECORDSTYLE,ISACCESSORY,DEMAND
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_RECORDORDER
        where ID = #{id,jdbcType=DECIMAL}
    </select>

    <select id="selectRecordOrderByTypes" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_RECORDORDER
        WHERE
        SCBJ=0
        AND RECORDCODE = #{recordcode,jdbcType=VARCHAR}
        AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
        <if test="recordtype != null">
        AND RECORDTYPE = #{recordtype,jdbcType=DECIMAL}
        </if>
        and ROWNUM=1
    </select>
    <select id="selectSysRecordOrderByArchiveType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        FROM SYS_RECORDORDER
        WHERE
        SCBJ=0 AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
        ORDER BY DEFAULTORDER ASC
    </select>

    <select id="selectRecordTypeByArchiveType" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT RECORDTYPE FROM   SYS_RECORDORDER
        WHERE SCBJ=0 and  ARCHIVETYPE= #{archivetype,jdbcType=DECIMAL}
        GROUP BY RECORDTYPE
    </select>

    <select id="selectRecordCodesByAtype" resultMap="BaseResultMap" parameterType="map">
        SELECT *
        FROM ( SELECT A.*, ROWNUM RUM FROM
        ( SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_RECORDORDER
        WHERE SCBJ = 0
        AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
        AND RECORDNAME LIKE '%'||#{recordname,jdbcType=DECIMAL}||'%'
        AND ISACCESSORY = #{isaccessory,jdbcType=DECIMAL}
        AND RECORDSTYLE &lt;&gt; 0
        ORDER BY DEFAULTORDER ASC
        ) A )
        WHERE rum &gt; #{pageStart,jdbcType=DECIMAL}
        AND rum &lt;= #{pageEnd,jdbcType=DECIMAL}
    </select>
    <select id="selectRecordCodesByAtypeCount" resultType="java.lang.Integer" parameterType="map">
        SELECT count(1)
        FROM SYS_RECORDORDER
        WHERE SCBJ = 0
        AND  RECORDNAME  LIKE   '%'||#{recordname,jdbcType=DECIMAL}||'%'
        AND ARCHIVETYPE = #{archivetype,jdbcType=DECIMAL}
        AND ISACCESSORY = #{isaccessory,jdbcType=DECIMAL}
        AND RECORDSTYLE &lt;&gt; 0
  </select>


</mapper>