<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.zfba.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.bean.zfba.SysUser">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="LEVELS" jdbcType="DECIMAL" property="levels" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="DWMC" jdbcType="VARCHAR" property="dwmc" />
    <result column="DWMCDM" jdbcType="VARCHAR" property="dwmcdm" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="JYBH" jdbcType="VARCHAR" property="jybh" />
    <result column="ZW" jdbcType="VARCHAR" property="zw" />
    <result column="ZJ" jdbcType="VARCHAR" property="zj" />
    <result column="JZ" jdbcType="VARCHAR" property="jz" />
    <result column="XMHYPY" jdbcType="VARCHAR" property="xmhypy" />
    <result column="FUNCTIONS" jdbcType="VARCHAR" property="functions" />
    <result column="LXFS" jdbcType="VARCHAR" property="lxfs" />
    <result column="DWLXFS" jdbcType="VARCHAR" property="dwlxfs" />
    <result column="GXSJ" jdbcType="TIMESTAMP" property="gxsj" />
    <result column="XGRGMSFHM" jdbcType="VARCHAR" property="xgrgmsfhm" />
    <result column="JLRGMSFHM" jdbcType="VARCHAR" property="jlrgmsfhm" />
  </resultMap>
  <sql id="Base_Column_List">
   ID,USERNAME,PASSWORD,LEVELS,STATE,CREATEDATE,DWMC,DWMCDM,XM,JYBH,ZW,
   ZJ,JZ,XMHYPY,FUNCTIONS,LXFS,DWLXFS,GXSJ,XGRGMSFHM,JLRGMSFHM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
<select id="selectNewSysuser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  SELECT <include refid="Base_Column_List" />
  FROM
  ( SELECT <include refid="Base_Column_List"/>
  FROM SYS_USER
  WHERE ID &gt; #{userId,jdbcType=DECIMAL}
  AND DWMCDM LIKE '2306%'
  ORDER BY ID ASC
  )


</select>

  <select id="selectUpdateSysuser" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    from SYS_USER
    where  GXSJ &gt; #{gxsj,jdbcType=TIMESTAMP}
    and  dwmcdm LIKE '231002%'
  </select>


  <select id="selectLeaderByDwdm"  parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM sys_user  USERS
    WHERE state &lt;&gt; '9' AND
    EXISTS  (SELECT 1 FROM Sys_User_Role ROLE WHERE roleid='25' AND USERs.Id=ROLE.USERID)
    AND SUBSTR(dwmcdm,0,4) &lt;&gt; '2366'
    AND dwmcdm LIKE #{dwmcdm,jdbcType=DECIMAL}||'%'

  </select>
</mapper>