<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.zfba.XtBarbMapper">
  <resultMap id="BaseResultMap" type="com.bean.zfba.XtBarb">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="JQBH" jdbcType="VARCHAR" property="jqbh" />
    <result column="WJBM" jdbcType="VARCHAR" property="wjbm" />
    <result column="WJBID" jdbcType="DECIMAL" property="wjbid" />
    <result column="BARGMSFHM" jdbcType="VARCHAR" property="bargmsfhm" />
    <result column="BARXM" jdbcType="VARCHAR" property="barxm" />
    <result column="BARGAJGJGDM" jdbcType="VARCHAR" property="bargajgjgdm" />
    <result column="BARGAJGMC" jdbcType="VARCHAR" property="bargajgmc" />
    <result column="SFZBZCY" jdbcType="DECIMAL" property="sfzbzcy" />
    <result column="SFZB" jdbcType="DECIMAL" property="sfzb" />
    <result column="ZPLX" jdbcType="DECIMAL" property="zplx" />
    <result column="SCBJ" jdbcType="DECIMAL" property="scbj" />
    <result column="GXSJ" jdbcType="TIMESTAMP" property="gxsj" />
    <result column="LXDH" jdbcType="VARCHAR" property="lxdh" />
    <result column="DWLXDH" jdbcType="VARCHAR" property="dwlxdh" />
    <result column="OLDID" jdbcType="DECIMAL" property="oldid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, JQBH, WJBM, WJBID, BARGMSFHM, BARXM, BARGAJGJGDM, BARGAJGMC, SFZBZCY, SFZB, ZPLX, 
    SCBJ, GXSJ, LXDH, DWLXDH, OLDID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from XT_BARB
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <select id="selectZbrByJqbh" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM
    xt_barb WHERE  scbj=0
     AND jqbh=#{jqbh,jdbcType=VARCHAR} AND sfzbzcy=0 and rownum=1 order by id desc
  </select>

  <select id="selectFbrByJqbh" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM
    xt_barb WHERE  scbj=0
    AND jqbh=#{jqbh,jdbcType=VARCHAR} AND sfzbzcy &lt;&gt; 0
  </select>
</mapper>